.icon-r1c1{
    background:url('../imgs/icons.png') no-repeat -41px -75px;
}
.icon-r1c2{
    background:url('../imgs/icons.png') no-repeat -96px -75px;
}
.icon-r1c3{
    background:url('../imgs/icons.png') no-repeat -148px -75px;
}
.icon-r1c4{
    background:url('../imgs/icons.png') no-repeat -204px -75px;
}
.icon-r1c5{
    background:url('../imgs/icons.png') no-repeat -259px -75px;
}
.icon-r1c6{
    background:url('../imgs/icons.png') no-repeat -316px -75px;
}
.icon-r1c7{
    background:url('../imgs/icons.png') no-repeat -372px -75px;
}
.icon-r1c8{
    background:url('../imgs/icons.png') no-repeat -428px -75px;
}
.icon-r1c9{
    background:url('../imgs/icons.png') no-repeat -484px -75px;
}
.icon-r1c10{
    background:url('../imgs/icons.png') no-repeat -540px -75px;
}